.content-modal{
    background-color: red;
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item-logo{
    background-color: aqua;
  }
  .margin-top{
    margin-top: 10px;
  }
  .logo{
    font-size: 40px;
    font-weight: bold;
    font-family: "Helvetica";
    margin-top: 20px;
    & span:nth-child(1){
        color: #9606E9;
    }
    & span:nth-child(2){
        color: #EC21FF;
    }
  }
  .error-item {
    display: flex;
    align-items: center;
  }
  #container {
    width: 100%;
    height: 100%;
    @media screen and   (max-height: 720px)
    {
        &{
            
          height: auto;
        }

    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container-logo-gym{
      position: relative;
      height: 125px;
      width: 90%;
      display: flex;
      margin-top: 40px;
      flex-direction: row;
      border-radius:  0 75px 75px 0;
      background: linear-gradient(to right, #0a7dd4, #008FFB, #0c7dd3);
     
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      align-items: center;
      span{
        width: calc(100% - 125px);
        text-align: center;
        color: #fff;
        font-size: 25px;
        padding-left: 30px;
        font-family: Phantomsans, sans-serif;
      }
      .img{
        position: absolute;
        display: flex;
        flex-direction: column;
        place-items: center;
        right: 0;
        width: 125px;
        height: 125px;
        padding: 10px;
        border-radius: 50%;
        background-color: #f7fbfd;
        
        img{
          height: 100%;
        }
      }
    }
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 20px;
    line-height: 22px;
    font-family: "calibri";
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .group-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #chart{
    display: flex;
    flex-direction: column;
    span{
      color: #008FFB;
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 17px;
      span{
        margin-left: 3px;
        font-family: Phantomsans, sans-serif;
        color: #424242;
      }
    }
  }
  .message-error{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}